

body{
    border:0px;
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

:root {
    --size: 400px;
    --height: 200px;
    --button-color: rgb(49, 76, 197);
}

body {
    color: block;
    background:azure;
}
.title{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.grid-section {
    display: flex;
    justify-content: center;
}

.grid {
    width: var(--size);
    height:var(--size);
    background:azure;
    border:4px solid black;
}
.mode-layer{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}


.modes {
    width: var(--size);
    height: var(--height);
    display:grid;
    grid-template-columns:3fr 1fr;
    gap:10px;
    text-align: center;
    
}

.erase {
    grid-row: 3/3;
    grid-column: 1/3;
}

.text-size {
    display: flex;
    justify-content: center;
    background: red;
    background:white;

}

.text-button {
    width:40%;
    border: none;
    font-size: large;
    outline:none;
}


.change-size {
    grid-row: 2/3;
    grid-column: 1/2;

}

button {
    border:none;
    background:rgb(78, 78, 229);
    color: rgb(0, 0, 0);
}

.text-button {
    background:78
}